apischema
archapp>=1.1.0
bluesky
bluesky-queueserver>=0.0.19
bluesky-widgets
# databroker >2 incompatible with pydantic v2
databroker<2.0.0a0
happi
ipython
numpy
ophyd
pcdsutils>=0.14.1
pydm
PyQt5
pyyaml
qtpy
reportlab
rich
typhos
typing-extensions
