apischema
archapp>=1.1.0
bluesky
bluesky-queueserver>=0.0.19
bluesky-widgets
# databroker >2 incompatible with pydantic v2
databroker<2.0.0a0
happi
ipython
# matplotlib 3.9.1 pulls pyside6, which is too much qt6 for us
matplotlib<=3.9.0
# numpy >2 incompatible with xraylib and others
numpy<2.0.0
ophyd
pcdsutils>=0.14.1
pydm
PyQt5
pyyaml
qtpy
reportlab
rich
typhos
typing-extensions
